<div class="layout-main">
  <div class="day-data-container">
    <div class="card-title">
      <h3>Metrics information of day: {{ formattedDate }}</h3>
    </div>
    
    <div *ngIf="selection && dayData; else noData" class="single-day-details">
      <div class="metrics-grid">
        <div class="metric-item">
          <label>Hotel ID:</label>
          <span>{{ dayData.hotel_id }}</span>
        </div>
        
        <div class="metric-item">
          <label>Check Ins:</label>
          <span>{{ dayData.checkins }}</span>
        </div>
        
        <div class="metric-item">
          <label>Check Outs:</label>
          <span>{{ dayData.checkouts }}</span>
        </div>
        
        <div class="metric-item">
          <label>Total confirmed reservations:</label>
          <span>{{ dayData.confirmedreserves }}</span>
        </div>
        
        <div class="metric-item">
          <label>Total canceled reservations:</label>
          <span>{{ dayData.cancelledreserves }}</span>
        </div>
        
        <div class="metric-item">
          <label>Final ADR of day:</label>
          <span>{{ dayData.adr | currency:'USD':'symbol':'1.2-2' }}</span>
        </div>
      </div>
    </div>
    
    <ng-template #noData>
      <p>No available data to show</p>
    </ng-template>
  </div>
</div>