
.content {
    margin: 0;
    padding: 10px;
    /* outline: #2b2b2b solid 2px; */
    border: solid 1px #e0e0e0;
    border-radius: 3px;
}

.content .title-number{
    text-align: Center;
    
    font-size: 40px ;
    

}

.content .description {
    text-align: Center;
    background-color: antiquewhite;
    font-size: 25px;
}