<div class="layout-main">
    <div class="comparison-data-container">
        <p>texto dentro de comparison-data-container</p>
        <p>Esta ventana aparece en este modal, si se selecciona un rango de 2 o mas fechas en el calendario</p>
        <div class="table-card"></div><!--La tabla que compara la info que encuentra de cada hotel, en db-->
        <br>
        <div class="metrics-sum-card"></div> <!--Parte que contiene algunas metricas de los hoteles, sumando el total de todas las del rango que se seleccionó-->
    </div>
</div>
