<div class="layout-main">
  <div class="comparison-data-container">
    <div class="card-title">
      <h3>Rango de fechas: {{ startDate }} - {{ endDate }}</h3>
    </div>
    
    <div class="table-card" *ngIf="variables.length > 0; else noData">
      <div class="table-title">
        <h3>Datos detallados por día</h3>
      </div>
      
      <table class="table-comparison">
        <thead>
          <tr>
            <th>FECHA</th>
            <th>HOTEL ID</th>
            <th>CHECK INS</th>
            <th>CHECK OUTS</th>
            <th>RESERVAS CONFIRMADAS</th>
            <th>RESERVAS CANCELADAS</th>
            <th>ADR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let variable of variables">
            <td>{{ variable.date }}</td>
            <td>{{ variable.hotelId }}</td>
            <td>{{ variable.checkIns }}</td>
            <td>{{ variable.checkOuts }}</td>
            <td>{{ variable.confirmed }}</td>
            <td>{{ variable.canceled }}</td>
            <td>{{ variable.adr | currency:'USD':'symbol':'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <ng-template #noData>
      <p>No hay datos disponibles para el rango seleccionado</p>
    </ng-template>
  </div>
</div>