<div class="content">
  <p class="description">Room state info</p>
  <!--Clean rooms-->
  <div class="rooms-info">
    <div class="clean">
      <p *ngIf="cleanRooms !== null" class="title-number">
        {{ cleanRooms }} Clean Rooms
      </p>
      <p *ngIf="cleanRooms === null" class="title-number">
        Obtaining clean rooms...
      </p>
    </div>
    <!--Dirty rooms-->
    <div class="dirty">
      <p *ngIf="dirtyRooms !== null" class="title-number">
        {{ dirtyRooms }} Dirty rooms
      </p>
      <p *ngIf="dirtyRooms === null" class="title-number">
        Obtaining dirty rooms...
      </p>
    </div>
  </div>
</div>
