.content {
  margin: 0;
  padding: 10px;
  outline: #2b2b2b solid 5px;
}

.content .title-number {
  text-align: Center;

  font-size: 40px;
}

.content .description {
  text-align: Center;
  background-color: antiquewhite;
  font-size: 25px;
}

.rooms-info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
