<div class="layout-main">
  <header class="navbar">AMEK TEST</header>

  <div class="main-content">
    <!--Contenido central, incluyo parte de metricas live y daily-->
    <div class="sidebar"></div>
    <div class="central-content">
      <div class="central-content title">
        <h2>Bienvenido 'User'</h2>
        <p>Haz click en el botón para cerrar sesión</p>
      </div>

      <section class="metrics-section live-metrics">
        <h3 class="live-metrics">
          <h3>Live Metrics</h3>
          <p style="font-size: 10px">Last updated:</p>
          <app-total-rooms></app-total-rooms>
          <app-clean-dirty></app-clean-dirty>
          <app-check-ins-outs></app-check-ins-outs>
          <app-reservations-info></app-reservations-info>
          <app-adr></app-adr>
          <!--occupied rooms?-->
        </h3>
      </section>
      <section class="metrics-section daily-metrics">
        <h3>Daily Metrics</h3>
        <app-calendar></app-calendar>
        
        <button (click)="openModal()">Abrir ventana modal</button>

        <div class="overlay" *ngIf="showCompareModal">
          <div class="compare-modal">
            <h2>Modal simple</h2>
            <p>Hecho solo con estilos y divs</p>
            <button (click)="closeModal()">Cerrar</button>
          </div>

        </div>
        <app-users-test></app-users-test>
      </section>
    </div>
  </div>
</div>
