@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
   margin: 0;
   padding: 0;
}

.layout-main {
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
}

.navbar {
  background-color: #0a0a23;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #d6e4f0;
  padding: 1rem;
}

.central-content {
  flex: 1;
  padding: 2rem;
  background-color: #eeeeee;
  overflow-y: auto;
}

.central-content .title {
  background-color: #f0f8ff;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.metrics-section {
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.live-metrics,
.daily-metrics {
  display: grid;
  gap: 1rem;
}

.graphs-live-section-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}


/* Fondo oscuro detrás del modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Caja del modal */
.compare-modal {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  text-align: center;
}

/* Responsive */
/* @media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
} */




